<!-- <form>
    <label>Cake Name : </label>
    <input [(ngModel)]="object.c_name" name="object.name" placeholder="Enter the cake name">
    <label>Enter the Cake Price : </label>
    <input [(ngModel)]="object.c_price" name="object.price" placeholder="Enter the cake price">
    <label>Cake Size : </label>
    <input [(ngModel)]="object.c_size" name="object.size">
    <label>Cake Eggless or Not :  </label>
    <input [(ngModel)]="object.c_eggless" name="object.eggless">
    <label>Occassion for Cake :  </label>
    <input [(ngModel)]="object.c_occassion" name="object.occassion">
    <button (click)=" console() ">Push to Console</button>
    <br><br>
    <button (click)="sortlowtohigh()">Sort(Price)-> High to Low</button>
    <br><br>
    <button (click)="sorthightolow()">Sort(Price)-> Low to High</button>
    <br><br>
    <button (click)="occassionbirthday()">Display Birthday cakes</button>
    <br><br>
    <button (click)="occassionanniversary()">Display Anniversary cakes</button>
    <br><br>
    <button (click)="occassionparty()">Display Party cakes</button>
    <br><br>
    <button (click)="occassionall()">Display All cakes</button><br><br>
    <label>Minimum Price</label>
    <input [(ngModel)]="minprice" name="object.minprice "><br><br>
    <label>Maximum Price</label>
    <input [(ngModel)]="maxprice" name="object.maxprice ">
</form> -->